@import "tailwindcss";

body {
  background-color: var(--dark);
  color: var(--light);
  margin: 0;
  padding: 0;
  height: 100vh;
}

.App, .container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 100vh;
}

