version: "3.9"

services:
  frontend:
    image: node:20
    working_dir: /app
    volumes:
      - ./frontend:/app
    ports:
      - "3000:3000"
    command: bash -c "npm install && npm run dev"

  backend:
    image: node:20
    working_dir: /app
    volumes:
      - ./backend:/app
    ports:
      - "8080:8080"
    command: bash -c "npm install && npm run dev"

  python-api:
    image: python:3.12
    working_dir: /app
    volumes:
      - ./python-server:/app
    ports:
      - "8002:8002"
    command: bash -c "pip install -r requirements.txt && uvicorn app.main:app --host 0.0.0.0 --port 8002"
